<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>


        <!-- Main Content -->
        <main class="container" style="background-color:rgb(255, 255, 255);">
            <div class="row">
                <div class="offset-md-1 col-md-9">
                    <h1>
                        <%= title %>
                    </h1>

                    <% if(typeof displayName=='string' && displayName) { %>
                        <a href="/surveys/add" class="btn btn-primary" role="button">
                            <i class="fas fa-plus-circle"></i> Add a survey</a>
                        <% } %>
                            <br>
                            <table class="table table-bordered table-striped table-hover">
                                <!-- Header Row-->
                                <tr class="d-flex">
                                    <% if(typeof displayName=='string' && displayName) { %>
                                        <th class="text-center col-5">Name</th>
                                        <th class="text-center col-5">Email Address</th>
                                        <th class="text-center col-1"></th>
                                        <th class="text-center col-1"></th>
                                        <% } else { %>
                                            <th class="text-center col-2">Name</th>
                                            <th class="text-center col-10">Email Address</th>
                                            <% } %>
                                </tr>

                                <!-- Repeatable Template Row -->

                                <% for(let count=0; count < surveysList.length; count++) { %>
                                    <tr class="d-flex">
                                        <% if(typeof displayName=='string' && displayName) { %>
                                            <td class="text-center col-5">
                                                <%= surveysList[count].name %>
                                            </td>
                                            <td class="text-center col-5">
                                                <%= surveysList[count].question1 %>
                                            </td>
                                            <td class="text-center col-1">
                                                <a href="/surveys/edit/<%= surveysList[count]._id %>"
                                                    class="btn btn-primary btn-sm">
                                                    <i class="fas fa-pencil-alt"></i> Edit</a>
                                            </td>
                                            <td class="text-center col-1">
                                                <a href="/surveys/delete/<%= surveysList[count]._id %>"
                                                    class="btn btn-danger btn-sm">
                                                    <i class="fas fa-trash-alt"></i> Delete</a>
                                            </td>
                                            <% } else { %>
                                                <td class="text-center col-10">
                                                    <%= surveysList[count].contact_email %>
                                                </td>
                                                <% } %>
                                    </tr>
                                    <% } %>
                            </table>
                </div>
            </div>
        </main>

        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>